@import url('./header.css');
@import url('./hero.css');
@import url('./cards.css');
@import url('./responsive.css');
@import url('./form.css');
@import url('./footer.css');




:root {
    --cor-fundo: #111;

    --cor-principal: #d4af37;

    --cor-texto: #fff;

    --cor-texto-secundario: #cfcfcf;

    --cor-card: #1a1a1a;

    --cor-borda: #2f2f2f;
}

* {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    background: var(--cor-fundo);

    color: var(--cor-texto);
}

body.menu-aberto {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 120px 0;
}

::selection {
    background: var(--cor-principal);

    color: black;
}

main {
    padding-top: 120px;
}

.container {
    max-width: 1200px;

    margin: 0 auto;

    padding: 0 60px;
}



.btn-primary {
    background: var(--cor-principal);

    color: var(--cor-fundo);

    border: none;

    padding: 18px 35px;

    border-radius: 12px;

    font-weight: bold;

    font-size: 16px;

    cursor: pointer;

    transition: 0.3s;

    box-shadow: 0 5px 20px rgba(212, 175, 55, 0.3);
}

.btn-primary:hover {
    transform: translateY(-4px);

    box-shadow: 0 10px 30px rgba(212,175,55,0.3);
}

.aparecer {
    opacity: 0;

    transform: translateY(40px);

    transition: 0.8s ease;

    will-change: transform, opacity;
}

.aparecer.ativo {
    opacity: 1;

    transform: translateY(0);
}

.galeria .container {
    display: flex;

    flex-direction: column;

    align-items: center;

    text-align: center;
}

.galeria-imagem {
    display: flex;

    gap: 25px;

    flex-wrap: wrap;

    justify-content: center;

    margin-top: 50px;
}

.galeria-imagem img {
    width: 500px;

    height: 380px;

    object-fit: cover;

    border-radius: 20px;

    border: 1px solid var(--cor-borda);

    transition: 0.4s;

    overflow: hidden;
}

.galeria-imagem img:hover {
    transform: translateY(-6px);

    border-color: var(--cor-principal);

    box-shadow: 0 10px 35px rgba(0,0,0,0.35);
}

.menu-mobile {
    display: none;
}

.whatsapp-float {
    position: fixed;

    right: 20px;

    bottom: 20px;

    width: 65px;

    height: 65px;

    background: #25d366;

    border-radius: 50%;

    display: flex;

    align-items: center;

    justify-content: center;

    font-size: 30px;

    text-decoration: none;

    box-shadow: 0 8px 25px rgba(0,0,0,0.3);

    z-index: 999;

    transition: 0.3s;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}


